.movie-card {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 20px;
  grid-template-areas: 'image content';
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.15);
  position: relative;
  padding: 10px;
}

.movie-card__img {
  grid-area: image;
  width: 183px;
  height: 280px;
  object-fit: cover;
}

.movie-card__content {
  grid-area: content;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 8px;
}

.movie-card__header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.movie-card__title {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  color: #333;
  padding-right: 45px;
}

.movie-card__release-date {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.2;
  color: #777;
  margin-bottom: 8px;
}

.movie-card__genres-list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  list-style: none;
}

.movie-card__genres-list .genres-list__item {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.2;
  color: #777;
  margin-right: 8px;
  background: #fafafa;
  border: 1px solid #d9d9d9;
  border-radius: 2px;
  color: rgba(0, 0, 0, 0.65);
  padding: 3px;
}

.movie-card__rating {
  position: absolute;
  top: 12px;
  right: 12px;
}

.movie-card__info {
  margin-top: 8px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5;
  color: #333;
  height: 88px;
  text-overflow: ellipsis;
}

.movie-card__rate {
  margin-top: 10px;
}

@media (max-width: 560px) {
  .movie-card {
    grid-template-columns: 1fr;
    &__img {
      position: absolute;
      max-width: 60px;
      max-height: 91px;
      top: 10px;
      left: 10px;
    }
    &__header {
      padding-left: 70px;
    }
    &__rate {
      align-self: flex-end;
    }
  }
}
